{% extends "template/layout.html" %} {% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <img src="{{base_url}}assets/img/vfv.png" alt="" class="img-fluid d-inline mx-auto"> -->
        <div class="col-sm-6">
            <h1>Detail Kegiatan</h1>
        </div>
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">List Users</li>
            </ol>
        </div> -->
        </div>
    </div>
</section>
<input type="text" name="id_kegiatan_global" id="id_kegiatan_global" value="{{id}}" hidden>
<!-- Main content -->
<section class="content">
    {% if role != 3 %}
    <div class="row">
        <div class="col-lg-7">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title d-inline mt-2">INFORMASI KEGIATAN</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <input type="text" id="id_kegiatan_info" value="{{id}}" hidden>
                            <tr>
                                <td width="15%"><strong>Biro</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{biro}}</td>
                                <td width="15%"><strong>Anggaran Sub Kegiatan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{anggaran}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Bagian</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{bagian}}</td>
                                <td width="15%"><strong>Tanggal Pengusulan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{tanggal}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Sub Bagian</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{sub_bagian}}</td>
                                <td width="15%"><strong>Nama Pengusul</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{nama_pengusul}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Lokasi Kegiatan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{lokasi}}</td>
                                <td width="15%"><strong>NIP</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{nip_kegiatan}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Program</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{program}}</td>
                                <td width="15%"><strong>Nama Pemegang Kegiatan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{nama_pemegang_kegiatan}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Kegiatan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{kegiatan}}</td>
                                <td width="15%"><strong>Sub Kegiatan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td width="25%">{{sub_kegiatan}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Latar Belakang</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td colspan="4" class="text-justify">{{latar_belakang}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Maksud dan Tujuan</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td colspan="4" class="text-justify">{{maksud_tujuan}}</td>
                            </tr>
                            <tr>
                                <td width="15%"><strong>Sasaran</strong></td>
                                <td width="5%"><strong>:</strong></td>
                                <td colspan="4" class="text-justify">{{sasaran}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title d-inline mt-2">INDIKATOR KEGIATAN</h3>
                    <span clas="float-right" id="buttonIndikator">
                        
                    </span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-center">Indikator & Tolak Ukur Kinerja Belanja Langsung</th>
                                </tr>
                                <tr>
                                    <th>Indikator</th>
                                    <th>Tolak Ukur Kinerja</th>
                                    <th>Target Kinerja</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyIndikator">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            {% if role == 3 %}
            <div class="card card-success card-outline">
                <div class="card-body">
                    <table class="table table-borderless">
                        <tr>
                            <td width="10%">
                                <h5>Kegiatan</h5>
                            </td>
                            <td width="25%">
                                <h5><strong>{{kegiatan}}</strong></h5>
                            </td>
                            <td width="10%">
                                <h5>Sub Kegiatan</h5>
                            </td>
                            <td width="25%">
                                <h5><strong>{{sub_kegiatan}}</strong></h5>
                            </td>
                            <td width="10%">
                                <h5>Jumlah Anggaran</h5>
                            </td>
                            <td width="25%">
                                <h5><strong>{{anggaran}}</strong></h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endif %}
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title d-inline mt-2">INFORMASI USULAN ANGGARAN</h3>
                    {% if role == 3 %}
                    <span clas="float-right">
                        <button id="btnTambahUsulanAnggaran" class="btn btn-primary btn-sm float-right" >
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tableTipeBelanja" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center align-middle">No</th>
                                    <th colspan="4" class="text-center align-middle">Tipe Belanja</th>
                                    <th rowspan="2" class="text-center align-middle">Tipe Anggaran</th>
                                    <th rowspan="2" class="text-center align-middle">Jumlah Anggaran</th>
                                    <th rowspan="2" class="text-center align-middle">Created By</th>
                                    <th rowspan="2" class="text-center align-middle">Action</th>
                                </tr>
                                <tr>
                                    <th>#1</th>
                                    <th>#2</th>
                                    <th>#3</th>
                                    <th>#4</th>
                                </tr>
                            </thead>
                            <tbody id="listKegiatan">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- modal Detail -->
<div class="modal fade" id="indikatorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>TAMBAH INDIKATOR DAN TOLAK UKUR KINERJA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="{{base_url}}assets/img/form/header_etor.png" alt="" class="img-fluid">
                        <form action="{{base_url}}doIndikator" id="formIndikator" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-success card-outline">
                                        <div class="card-body">
                                            <input type="text" name="id_kegiatan" value="{{id}}" hidden>
                                            <div class="form-group">
                                                <label for="capaian_program" class="form-control-label">Indikator</label>
                                                <input type="text" name="indikator[]" id="indikator1" class="form-control" value="Capaian Program" readonly required>
                                            </div>
                                            <div class="form-group">
                                                <label for="tolak_ukur_kinerja" class="form-control-label">Tolak Ukur Kinerja</label>
                                                <input type="text" name="tolak_ukur_kinerja[]" id="tolak_ukur_kinerja1" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="target_kinerja" class="form-control-label">Target Kinerja</label>
                                                <input type="text" name="target_kinerja[]" id="target_kinerja1" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-success card-outline">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="capaian_program" class="form-control-label">Indikator</label>
                                                <input type="text" name="indikator[]" class="form-control" id="indikator2" value="Masukan" readonly required>
                                            </div>
                                            <div class="form-group">
                                                <label for="tolak_ukur_kinerja" class="form-control-label">Tolak Ukur Kinerja</label>
                                                <input type="text" name="tolak_ukur_kinerja[]" id="tolak_ukur_kinerja2" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="target_kinerja" class="form-control-label">Target Kinerja</label>
                                                <input type="text" name="target_kinerja[]" id="target_kinerja2" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-success card-outline">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="capaian_program" class="form-control-label">Indikator</label>
                                                <input type="text" name="indikator[]" class="form-control" id="indikator3" value="Keluaran" readonly required>
                                            </div>
                                            <div class="form-group">
                                                <label for="tolak_ukur_kinerja" class="form-control-label">Tolak Ukur Kinerja</label>
                                                <input type="text" name="tolak_ukur_kinerja[]" id="tolak_ukur_kinerja3" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="target_kinerja" class="form-control-label">Target Kinerja</label>
                                                <input type="text" name="target_kinerja[]" id="target_kinerja3" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-success card-outline">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="capaian_program" class="form-control-label">Indikator</label>
                                                <input type="text" name="indikator[]" class="form-control" id="indikator4" value="Hasil" readonly required>
                                            </div>
                                            <div class="form-group">
                                                <label for="tolak_ukur_kinerja" class="form-control-label">Tolak Ukur Kinerja</label>
                                                <input type="text" name="tolak_ukur_kinerja[]" id="tolak_ukur_kinerja4" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="target_kinerja" class="form-control-label">Target Kinerja</label>
                                                <input type="text" name="target_kinerja[]" id="target_kinerja4" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="text" name="actionIndikator" id="actionIndikator" value="Tambah" hidden>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" id="tambahIndikator" class="btn btn-primary" value="Tambahkan">
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editIndikatorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Indikator Kegiatan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEditIndikator" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="id_indikator" hidden>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Indikator</label>
                                <input type="text" id="indikatorEdit" name="indikator" class="form-control" readonly required>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Tolak Ukur Kinerja</label>
                                <input type="text" id="tolak_ukur_kinerja_Edit" name="tolak_ukur_kinerja" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Target Kinerja</label>
                                <input type="text" id="target_kinerja_Edit" name="target_kinerja" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" id="editBtnIndi" class="btn btn-warning" value="Edit">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="tambahUsulanAnggaranModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">TAMBAH USULAN ANGGARAN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Pilih Tipe Belanja</label>
                                <select name="tipe_belanja-1" id="tipe_belanja-1" class="form-control" required></select>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Pilih Tipe Belanja</label>
                                <select name="tipe_belanja" id="tipe_belanja" class="form-control" required></select>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label"></label>
                                <select name="tipe_belanja_sub" id="tipe_belanja_sub" class="form-control" required></select>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label"></label>
                                <select name="tipe_belanja_sub_sub" id="tipe_belanja_sub_sub" class="form-control" required></select>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label"></label>
                                <select name="tipe_belanja_sub_sub_sub" id="tipe_belanja_sub_sub_sub" class="form-control select2bs4" required></select>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Judul Pengajuan</label>
                                <input type="text" name="judul_pengajuan" id="judul_pengajuan" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="indikator" class="form-control-label">Tipe Anggaran</label>
                                <select name="tipe_anggaran" id="tipe_anggaran" class="form-control" required>
                                    <option>PILIH</option>
                                    <option value="Penyedia">Penyedia</option>
                                    <option value="Swakelola">Swakelola</option>
                                </select>
                            </div>
                            <input type="text" name="id_belanja" id="id_belanja" hidden>
                            <input type="text" name="id_kegiatan_belanja" id="id_kegiatan_belanja" value="{{id}}" hidden>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="text" name="operation_belanja" id="operation_belanja" hidden>
                    <input type="button" id="tambahTipeBelanja" class="btn btn-warning" value="Tambah">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.content -->
{% endblock %}
{% block js %}
<script src="{{base_url}}assets/action/kegiatan.js"></script>
<script src="{{base_url}}assets/action/belanja.js"></script>
{% endblock %}